div {
  border: 1px solid red;
}

ul {
  border: 1px solid green;
}

p {
  border: 1px solid blue;
}

body {
  font-family: 'Roboto Regular', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #fff;
}

.main-header {
  background-color: #ede9e9;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;

  background-color: #eee;
}

.site-navigation,
.shop-navigation {
  list-style: none;
}


.site-navigation a,
.shop-navigation a {
  font-family: 'Roboto Medium', Arial, sans-serif;
  font-weight: 500;
  color: #000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.shop-navigation a:hover,
.shop-navigation a:focus {
  color: #fb565a;
}

.slider {
  background-image: url('/img/slide1.png');
  background-position: top center;
  background-repeat: no-repeat;
}

.slider-title {
  font-family: 'Roboto Medium', Arial, sans-serif;
  font-weight: 500;
  color: #000;
  font-size: 55px;
  line-height: 55px;
}

.button {
  color: #ffffff;
  text-transform: uppercase;
}

.services-list {
  list-style: none;
}

.sevices-title {
  font-family: 'Roboto Bold', Arial, sans-serif;;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-title {
  font-family: 'Roboto Medium', Arial, sans-serif;
  font-weight: 500;
  color: #000;
  font-size: 45px;
  line-height: 45px;
}

.about h3 {
  font-family: 'Roboto Bold', Arial, sans-serif;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}

.features-list {
  list-style: none;
}

.features-title {
  font-family: 'Roboto Bold', Arial, sans-serif;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}

.feature-item-num {
  font-family: 'Roboto Bold', Arial, sans-serif;
  font-weight: bold;
  color: #000;
  font-size: 45px;
}

.feature-item-description {
  line-height: 18px;
}

.customers-list {
  list-style: none;
}

.costomers-item img {
  opacity: 0.2;
}

.costomers-item img:hover {
  opacity: 1;
}

.costomers-item img:active {
  opacity: 0.1;
}

.map {
  background-image: url('/img/map.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-contact-block {
  background-color: white;
}

.footer-contact-title {
  font-family: 'Roboto Bold', Arial, sans-serif;
  font-weight: bold;
  color: #000;
  font-size: 18px;
  line-height: 30px;
}

.footer-contact-adress {
  color: #666666;
}

.social-buttons-list {
  list-style: none;
}

.social-button {
  background-color: #E1E1E1;
}

.social-button:hover {
  background-color: #E74246;
}

.social-button:active {
  background-color: #D7373B;
}

.social-button img:active {
  opacity: 0.2;
}

.social-call-title {
  font-family: 'Roboto Bold', Arial, sans-serif;
  font-weight: bold;
  color: #000;
  font-size: 36px;
  line-height: 36px;
}

.social-call-description {
  line-height: 22px;
}

.modal-mail h2 {
  font-family: 'Roboto Medium', Arial, sans-serif;
  font-weight: 500;
  color: #000;
  font-size: 45px;
  line-height: 45px;
}

.mail-form label{
  font-family: 'Roboto Bold', Arial, sans-serif;
  font-weight: bold;
}

.mail-form input[type="text"],
.mail-form input[type="email"],
.mail-form textarea {
  font: inherit;
  color: #444444;
  opacity: 0.5;

  background-color: #fff;
  border: 2px solid rgba(68, 68,68, 0.5);
}

.button-red {
  background-color: #FB565A;
}

.button-red:hover,
.button-red:focus {
  background-color: #E74246;
}

.button-red:active {
  background-color: #D7373B;
}

.button-green {
  background-color: #00CA74;
}

.button-green:hover,
.button-green:focus {
  background-color: #00CA74;
}

.button-green:active {
  background-color: #00AA62;
}

.button-yellow {
  background-color: #EFC84A;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #EAB534;
}

.button-yellow:active {
  background-color: #E5A722;
}

.button-red:active,
.button-green:active,
.button-yellow:active, {
  color: rgba(255, 255, 255, 0.3);
}