// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  min-width: 1122px;
}

/// Basic styles for body
body {
  margin: 0;
  padding: 0;

  @include regular;
  color: #283136;
 
  background-color: #fff;
  background-image: url("");
  background-position: top center;
  background-repeat: no-repeat;
}


 /// Basic styles for links
a {
  text-decoration: none;
}

/// Basic styles for img
img {
  max-width: 100%;
  height: auto;
}

div {
  border: 1px solid red;
}

ul {
  border: 2px solid green;
}


