// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------


 /// Clear inner floats
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/// Container styles
.container {
  max-width: 1180px; 
  margin-left: auto; 
  margin-right: auto;
  padding-left: 20px; 
  padding-right: 20px; 
  width: 100%; 
 }

/// hide-text
.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

.content-box-component {
	box-sizing: content-box;
}


///visually-hidden
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect 0 0 0 0;
  overflow: hidden;
}